#grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
}

#day {
    border: 1px solid #dddddd;
    border-radius: 10px;
    padding: 10px;
}

.event {
    margin-top: 6px;
    font-size: 12px;
}